body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background: #ff5722;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

.container {
    padding: 20px;
    text-align: center;
}

.card {
    background: white;
    padding: 15px;
    margin: 15px auto;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 10px gray;
}

button {
    padding: 8px 12px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: darkgreen;
}

.remove-btn {
    background: red;
}

input, textarea {
    padding: 8px;
    width: 250px;
}

.home-btn{
    display: block;
    width: fit-content;
    margin: 20px auto;
}
.pay-btn{
    width: 100%;
    padding: 10px;
    background: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.pay-btn:hover{
    background: darkgreen;
}

.success{
    text-align: center;
    color: green;
    font-weight: bold;
}

footer {
     margin-top: 50px;
     background: rgba(0, 0, 0, 0.85);
     padding: 20px;
     text-align: center;
     font-size: 16px;
     color: #ccc;
 }
